@import "_variables.scss";

.header-logo {
  background-image: url(/images/logo.webp);
  min-height: 70px;
  min-width: 70px;
  @extend .image-default;
  background-size: contain !important;
}

.filter-button {
  border: none;
  height: 30px;
}

.searchbar {
  width: 50vw;
}

.search-button {
  border: none;
}

.post {
  color: var(--text-color);
  margin-top: 3rem;
}

.user-name {
  margin-left: 4rem;
}

.post-content {
  display: flex;
  border: 2px solid var(--text-color);
  background-color: var(--dark-box);
  min-height: 100px;
  position: relative;
  padding-block: 10px;
  color: var(--text-color);
  text-decoration: none;
}
.time-posted {
  color: var(--text-color);
  text-align: right;
}

.post-content-text {
  margin-inline: 7vw;
}

.post-interactions {
  margin-inline: 3vw;
}

.user-post-image {
  background-image: url(/images/logo.webp);
  position: absolute;
  top: -3.5rem;
  left: -5vw;
  border: 4px solid var(--background);
  @extend .image-default;
  @extend .image-sizing;
}

.profile-image {
  background-image: url(/images/logo.webp);
  border: 3px solid var(--text-color);
  @extend .image-default;
  @extend .image-sizing;
}

.post-text-form {
  display: flex;
  flex-direction: column;
  padding-left: 5vw;
}

.make-post-features {
  background-color: var(--background-dark);
  padding: 5px;
}
