@import "_variables";

.log-in-bg {
  background: var(--background-dark) !important;
}

.log-in-container {
  display: flex;
  flex-direction: column;
  background-color: var(--dark-box);
  border-radius: 20px 0 20px 0;
}

.logo {
  background-image: url(/images/logo.webp);
  min-height: 20vh;
  @extend .image-default;
  background-size: contain !important;
}

.register-link {
  text-align: center;
}

.modal-title {
  color: var(--text-color);
}
