@import "_variables.scss";

.profile-info-container {
  background-color: var(--interaction-bg);
}

.profile-image-big {
  background-image: url(/images/logo.webp);
  width: 15vw;
  height: 15vw;
  min-width: 70px;
  min-height: 70px;
  border-radius: 100%;
  border: 3px solid var(--text-color);
  @extend .image-default;
}
